extends ../example-layout

block content
	.row
		.col-md-12
			.check
			.checked-symbol
			.comments
			.envelope
			.external-link-symbol
			.facebook-logo
			.home
			.instagram-symbol
			.magnifying-glass
			.padlock
			.power-button-off
			.rupee-indian
			.settings
			.shopping-cart-black-shape
			.telephone-symbol-button