extends ../example-layout

block content
	.row
		.col-md-12
			img(src="/images/envelope.png?delay=2000")
			img(src="/images/home.png?delay=2000")
			img(src="/images/settings.png?delay=2000")
			img(src="/images/telephone-symbol-button.png?delay=2000")