extends ../example-layout

block content
	.row
		.col-md-12
			img(src="/images/check.png?delay=2000")
			img(src="/images/checked-symbol.png?delay=2000")
			img(src="/images/comments.png?delay=2000")
			img(src="/images/envelope.png?delay=2000")
			img(src="/images/external-link-symbol.png?delay=2000")
			img(src="/images/facebook-logo.png?delay=2000")
			img(src="/images/home.png?delay=2000")
			img(src="/images/instagram-symbol.png?delay=2000")
			img(src="/images/magnifying-glass.png?delay=2000")
			img(src="/images/padlock.png?delay=2000")
			img(src="/images/power-button-off.png?delay=2000")
			img(src="/images/rupee-indian.png?delay=2000")
			img(src="/images/settings.png?delay=2000")
			img(src="/images/shopping-cart-black-shape.png?delay=2000")
			img(src="/images/telephone-symbol-button.png?delay=2000")