doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/bootstrap.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		nav.navbar.navbar-inverse.navbar-fixed-top
			.container
				.navbar-header
					a.navbar-brand(href="/") Web Performance
		.container
			.start-template
				block content
		
