extends layout

block content
	h1= rule.name
	p.lead Examples
	.row
	.col-md-12
		ul
		- for ( var i = 0; i < rule.examples.length; i++)
			li
				a(href="/rule"+ruleIndex+"/example"+(i+1))= rule.examples[i]